@use '_variables';

@mixin reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

@mixin logo-hover {
  font-size: 25px;
  color: variables.$light-color;

  &:hover {
    color: variables.$primary-color;
    transition: all ease .5s;
  }
}

@mixin btn-hover {
  padding: 5px 15px;
  text-transform: uppercase;
  background-color: variables.$primary-color;
  border: 1px solid variables.$primary-color;

  &:hover {
    background-color: transparent;
    color: variables.$light-color;
    transition: all ease .5s;
    border: 1px solid variables.$light-color;
  }
}

%container-info-shadow {
  text-shadow: 3px 2px variables.$black;
  transition: all ease .5s;
}

@mixin black-list {
  &:hover {
    .jobs-black-list {
      display: flex;
    }
  }
}

@mixin bg-center {
  background-size: cover;
  background-position: center;
}